    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Segoe UI", sans-serif;
    }

    body {
      height: 100vh;
      display: flex;
    }
    .left-side {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      padding: 40px;
      position: relative;
    }

    .left-side img {
      width: 120px;
      margin-bottom: 30px;
    }

    .language-btn {
      position: absolute;
      top: 30px;
      right: 40px;
      background-color: #f1f1f1;
      border: none;
      border-radius: 20px;
      padding: 8px 16px;
      cursor: pointer;
    }

    form {
      width: 80%;
      max-width: 350px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    label {
      font-size: 14px;
      color: #333;
    }

    input {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 20px;
      background-color: #f2f2f2;
      outline: none;
    }

    .password-container {
      position: relative;
    }

    .password-container i {
      position: absolute;
      right: 12px;
      top: 10px;
      cursor: pointer;
      color: #c8c8c8;
    }

    .btn-acessar {
      margin-top: 10px;
      background-color: #addbff;
      border: none;
      border-radius: 20px;
      padding: 10px;
      cursor: pointer;
      font-weight: bold;
    }

    .terms {
      margin-top: 20px;
      font-size: 11px;
      color: #c8c8c8;
      width: 80%;
      max-width: 350px;
      text-align: justify;
    }

    .right-side {
      width: 50%;
      background-color: #9ABEE2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      color: white;
      height: 110%;
    }

    .right-side h3 {
      text-align: center;
      font-size: 14px;
      margin-bottom: 50px;
    }

    .role-btn {
      background-color: #addbff;
      border: none;
      border-radius: 20px;
      width: 250px;
      padding: 15px;
      margin: 10px 0;
      color: white;
      font-weight: 500;
      cursor: pointer;
    }

    .logo-bottom {
      position: absolute;
      bottom: 40px;
    }

    .logo-bottom img {
      width: 90px;
    }
    .register-text {
  margin-top: 10px;
  font-size: 13px;
  color: #555;
  text-align: center;
}

.register-link {
  color: #677BAB;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px;
}

.register-link:hover {
  text-decoration: underline;
}